body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* padding: 0px; */
  margin: 0px;
}

/* -----navbar---- */
#navbar {
  border: px solid red;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
#navbar > div {
  border: px solid rgb(10, 10, 10);
  width: 20%;
}
#navbar > div > img {
  height: 60px;
}
#navbar > div > img:hover {
  cursor: pointer;
}
#navbar > div:nth-child(3) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar > div > div {
  text-align: center;
  border: px solid rgb(10, 10, 10);
  width: 15%;
}
#navbar > div:nth-child(1) {
  padding: 11px 0px 0px 20px;
  width: 13%;
  font-size: 18px;
  font-weight: 700;
  color: #e5b95f;
}
#navbar > div:nth-child(3) > div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#navbar > div:nth-child(3) > div > div {
  border: px solid yellow;
  width: 20%;
  font-size: 20px;
  height: 20px;
  color: #e5b95f;
}
#navbar > div:nth-child(3) > div > div:hover {
  cursor: pointer;
}

/* ---navbar end--- */

#sliding > div > img {
  border: px solid red;
  width: 100%;
  height: 400px;
}
.headings {
  text-align: center;
  font-size: 36px;
}
hr {
  width: 43%;
  background-color: #e5b95f;
  height: 3px;
  border: 0px;
  margin-top: -25px;
}
body > hr:nth-child(7) {
  width: 23%;
}

/* Product Display */
#pd_display {
  border: px solid red;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 20px;
}
#pd_display > div > div:hover {
  cursor: pointer;
}
#pd_display > div > div > img {
  border: 2px solid white;
  border-radius: 55px;
}
#pd_display > div > div {
  border: 3px solid #e5b95f;
  border-radius: 55px;
}
#pd_display > div > p {
  border: px solid red;
  font-size: 20px;
  text-align: center;
  margin-top: -1px;
  padding-top: 3px;
}

/* Product Display end */

/* Subscription starts */
#sub {
  border: px solid rgb(204, 195, 195);
  height: 450px;
  width: 300px;
  margin: auto;
  display: grid;
  grid-template-rows: 15% 15% 55% 15%;
  text-align: center;
}
#sub > div {
  border: 1px solid rgb(204, 195, 195);
}
#sub > div > p + p {
  margin-top: -20px;
}
#sub > div > :nth-child(1) {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}
#sub > div:nth-child(3) > p:nth-child(1) {
  color: #e5b95f;
}
#sub > div:nth-child(4) {
  background-color: #e5b95f;
  display: grid;
  justify-content: center;
  align-items: center;
}
#sub > div:nth-child(4) > div {
  border: 1px solid rgb(238, 235, 235);
  /* width: 70%;
  height: 50%; */
  padding: 5px 70px 5px 70px;
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  font-size: 17px;
}
#sub > div:nth-child(4) > div:hover {
  cursor: pointer;
  color: rgb(63, 62, 62);
}
#sub > div:nth-child(3) > p + p {
  font-size: 18px;
  font-weight: 700;
}
#third {
  width: 25%;
}

/* SUbscription end */

/* slider */
/* body > div:nth-child(11) {
    border: 2px solid rgb(140, 223, 137);
    width: 80vw;
    margin: auto;
    margin-top: 60px;
    display: flex;
    gap: 29px;
    justify-content: center;
  }
  
  body > div:nth-child(11)>div>img{
    
    height: 200px;
  } */
#craucont {
  border: px solid red;
  width: 100%;
}
#crauser {
  display: relative;
  text-align: center;
}
#crauser > img {
  width: 35%;
  height: 300px;
}

#left-btn {
  position: absolute;
  padding: 20px;
  left: 200px;
  margin: 7%;
  background-color: rgba(114, 113, 113, 0.219);
  font-weight: 700;
  font-size: 40px;
  border: 0px;
  outline: 0px;
  color: #e5b95f;
}
#right-btn {
  position: absolute;
  padding: 20px;
  margin: 7%;
  left: 915px;
  font-weight: 700;
  font-size: 40px;
  background-color: rgba(114, 113, 113, 0.219);
  border: 0px;
  outline: 0px;
  color: #e5b95f;
}
/* body > div:nth-child(11)>button{
    position: absolute;
    top: 35%;
    padding: 50px;
    font-size: 50px;
    color: black ;
    opacity: 0.3;
    
    
    
}
body > div:nth-child(11)>button:nth-child(2){
    left: 150px;
    background-color: black;
    color: rgb(131, 49, 49);
    
}
body > div:nth-child(11)>button:nth-child(3){
    right: 150px;
    background-color: black;
    color: white;
} */
/* slider images end */

/* Testimonials css starts here */
body > div:nth-child(12) {
  /* Testimonial */
  border: px solid rgb(0, 255, 221);
  height: 500px;
  margin-top: 80px;
}
#testimonial {
  border: px solid red;
  width: 60%;
  margin: auto;
}
#testimonial > div:nth-child(1) {
  font-size: 40px;
  display: grid;
  justify-content: center;
}
#testimonial > div:nth-child(2) {
  font-size: 25px;
  display: grid;
  justify-content: center;
  line-height: 50px;
}

/* TEstimonials css ends here */
/* under trending images */
body > div:nth-child(14) {
  height: auto;
  border: px solid rgb(0, 183, 255);
  display: flex;
}
body > div:nth-child(14) > div > img {
  height: 192px;
}

/* /* body > div:nth-child(15) {
    /* height: 200px;
    border: 1px solid rgb(10, 7, 58); */
/* margin-top: 60px; */
/* background-color: #e5b95f; */
/* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
/* } */
body > div:nth-child(16) {
  height: auto;
  border: px solid rgb(110, 21, 21);
  margin-top: 5px;
}
body > div:nth-child(16) > div {
  border: px solid red;
  width: 80%;
  /* height: 400px; */
  display: flex;
  margin: auto;
}
body > div:nth-child(16) > div > div {
  border: px solid rgb(29, 1, 1);

  width: 33.33%;
  line-height: 27px;
  color: rgb(146, 141, 141);
}
body > div:nth-child(16) > div > div:nth-child(1) > p:hover {
  color: #e5b95f;
  cursor: pointer;
}

/* INPUT + BUTTON  */
body > div:nth-child(16) > div > div > div:nth-child(3) input {
  border-radius: 5px;
  height: 40px;
  border: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
}
body > div:nth-child(16) > div > div > div:nth-child(3) button {
  background-color: #e5b95f;
  color: white;
  border: 0px;
  padding: 13px 15px 14px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
body > div:nth-child(16) > div > div > p:nth-child(1) {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

body > div:nth-child(17) {
  height: 80px;
  border: px solid red;
  display: grid;
}
body > div:nth-child(17) > div {
  border: px solid rgb(0, 26, 255);
}
body > div:nth-child(17) > div:nth-child(1) {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
body > div:nth-child(17) > div:nth-child(1) > div {
  border: px solid red;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(241, 237, 237);
  color: rgb(131, 128, 128);
}

/* hover styling */
body > div:nth-child(17) > div:nth-child(1) > div:nth-child(1):hover {
  cursor: pointer;
  background-color: #1235d3;
  color: white;
}
body > div:nth-child(17) > div:nth-child(1) > div:nth-child(2):hover {
  cursor: pointer;
  background-color: #12c6d3;
  color: white;
}
body > div:nth-child(17) > div:nth-child(1) > div:nth-child(3):hover {
  cursor: pointer;
  background-color: #d460cb;
  color: white;
}
body > div:nth-child(17) > div:nth-child(1) > div:nth-child(4):hover {
  cursor: pointer;
  background-color: #f12424;
  color: white;
}
body > div:nth-child(17) > div:nth-child(2) {
  border: px solid red;
  padding: 8px;
  text-align: center;
  margin-top: 10px;
  color: rgb(131, 128, 128);
}
body > div:nth-child(12) {
  /* testimonials */
  background: url(//cdn.shopify.com/s/files/1/0052/7551/6995/files/Testimonial-Final_2048x.png?v=1548829465);
  background-attachment: fixed;
}
/* slider auto moving */

#container {
  background-color: #e5b95f;
  border: px solid red;
  padding: 10px;
  margin-top: 10px;
}
.slider {
  border: px solid rgb(0, 255, 106);
  background-color: #e5b95f;
  border: px solid rgb(0, 153, 255);
  height: 200px;
  margin: auto;
  position: relative;
  width: 90vw;
  display: grid;

  overflow: hidden;
  justify-content: center;
}
.slider-track {
  display: flex;
  width: calc(200px * 20);
  animation: scroll 40s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

.slide {
  border: px solid red;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 0px 25px;
  perspective: 100px;
  justify-content: center;
}
.slide img {
  border: 2px solid black;
  width: 100%;
  border-radius: 8px;
  transition: transform 1s;
}
.slide img:hover {
  transform: translate(20px);
}
/* slider automatic end */