* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  #navbar {
    border: px solid red;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(121, 121, 121, 0.15) 0px 48px 100px 0px;
    position: sticky;
    top: 0px;
    background-color: white;
  }
  #navbar > div {
    border: px solid rgb(10, 10, 10);
    width: 20%;
  }
  #navbar > div > img {
    height: 60px;
  }
  #navbar > div > img:hover {
    cursor: pointer;
  }
  #navbar > div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #navbar > div > div {
    text-align: center;
    border: px solid rgb(10, 10, 10);
    width: 15%;
  }
  #navbar > div:nth-child(1) {
    padding: 11px 0px 0px 20px;
    width: 13%;
    font-size: 18px;
    font-weight: 700;
    color: #e5b95f;
  }
  #navbar > div:nth-child(3) > div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  #navbar > div:nth-child(3) > div > div {
    border: px solid yellow;
    width: 20%;
    font-size: 20px;
    height: 20px;
    color: #e5b95f;
  }

  /* footer */
  #footer {
    height: auto;
    border: 0px solid rgb(110, 21, 21);
    margin-top: 5px;
  }
  #footer > div {
    border: px solid red;
    width: 80%;
    /* height: 400px; */
    display: flex;
    margin: auto;
  }
  #footer > div > div {
    border: px solid rgb(29, 1, 1);

    width: 33.33%;
    line-height: 27px;
    color: rgb(131, 128, 128);
  }

  /* INPUT + BUTTON  */
  #footer > div > div > div:nth-child(3) input {
    border-radius: 5px;
    height: 40px;
    border: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px;
  }
  button {
    background-color: #e5b95f;
    color: white;
    border: 0px;
    padding: 13px 15px 14px 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
  }
  #footer > div > div > p:nth-child(1) {
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
  /* footer's footer */
  #footer + div {
    height: 80px;
    border: px solid red;
    display: grid;
  }
  #footer + div > div {
    border: px solid rgb(0, 26, 255);
  }
  #footer + div > div:nth-child(1) {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  #footer + div > div:nth-child(1) > div {
    border: px solid red;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(241, 237, 237);
    color: rgb(131, 128, 128);
  }

  /* hover styling */
  #footer + div > div:nth-child(1) > div:nth-child(1):hover {
    cursor: pointer;
    background-color: #1235d3;
    color: white;
  }
  #footer + div > div:nth-child(1) > div:nth-child(2):hover {
    cursor: pointer;
    background-color: #12c6d3;
    color: white;
  }
  #footer + div > div:nth-child(1) > div:nth-child(3):hover {
    cursor: pointer;
    background-color: #d460cb;
    color: white;
  }
  #footer + div > div:nth-child(1) > div:nth-child(4):hover {
    cursor: pointer;
    background-color: #f12424;
    color: white;
  }
  #footer + div > div:nth-child(2) {
    border: px solid red;
    padding: 8px;
    text-align: center;
    margin-top: 10px;
    color: rgb(131, 128, 128);
  }

  /* PRODUCT  */
  #product {
    border: 0px solid red;
    height: auto;
    width: 83vw;
    margin: auto;
    display: flex;
    gap: 30px;
    margin-top: 100px;
  }
  #product > div {
    border: px solid red;
    flex-basis: auto;
  }
  #product > div > img {
    height: 350px;
  }
  #product > div > div > p:nth-child(1) {
    font-size: 15px;
    
    
  }
  #product > div > div > p:nth-child(2) {
    font-size: 34px;
  }
  #product > div:nth-child(2) > div:nth-child(2)>p {
    font-size: 36px;
    font-weight: 600;
  }
  #product > div:nth-child(2) > div:nth-child(3)>p{
    font-weight: 900;
    color: #f12424;
    
  }
  #product > div:nth-child(2) > div:nth-child(4){
    background-color: #f7bdbd;
    height: 35px;
    text-align: center;
    color: white;
    border-radius: 5px;
    
  }
  #product > div:nth-child(2) > div:nth-child(4)>p{
    font-weight: 800;
    font-size: 20px;
    padding-top: 2px;

  }
  #product > div:nth-child(2) > div:nth-child(5){
    display: flex;
    gap: 15px;
    margin-top: 10px;
    color: rgb(184, 181, 181);
  }
  #product > div:nth-child(2) > div:nth-child(5)>div:hover{
    color:#e5b95f; 
  }

  /* TAB CONTENT */
  #tabcont{
    
    width: 60vw;
    border: px solid rgb(15, 13, 13);
    margin: auto;
    margin-top: 100px;
  }
  .buttoncont>button{
    height: 30px;
    width: auto;
    border: 0px;
    outline: none;
    cursor: pointer;
    padding-bottom: 30px;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    background-color: white;
    
  }
  .buttoncont>button:hover{
    background-color: #e5b95f;
  }

  .pannel{
    border: px solid red;
    height: auto;
    display: none;
    margin-top: 3px;
    color: rgb(107, 106, 106);
  }
  #tabcont>div:nth-child(2)>div:nth-child(1){
    border: px solid red;
    color: red;
    font-weight: 700;

  }


   /* PANNEL SUBSCRIPTION ONLY */
   #sub {
border: px solid rgb(204, 195, 195);
height: 450px;
width: 300px;
margin: auto;
display: grid;
grid-template-rows: 15% 15% 55% 15%;
text-align: center;
}
#sub > div {
border: 1px solid rgb(204, 195, 195);
}
#sub > div > p + p {
margin-top: -20px;
}
#sub > div > :nth-child(1) {
font-size: 18px;
margin-bottom: 15px;
font-weight: 700;
}
#sub > div:nth-child(3) > p:nth-child(1) {
color: #e5b95f;
}
#sub > div:nth-child(4) {
background-color: #e5b95f;
display: grid;
justify-content: center;
align-items: center;
}
#sub > div:nth-child(4) > div {
border: 1px solid rgb(238, 235, 235);
/* width: 70%;
height: 50%; */
padding: 5px 70px 5px 70px;
margin-top: 15px;
color: white;
border-radius: 5px;
font-size: 17px;
}
#sub > div:nth-child(4) > div:hover {
cursor: pointer;
color: rgb(63, 62, 62);
}
#sub > div:nth-child(3) > p + p {
font-size: 18px;
font-weight: 700;
}
